* {
    box-sizing: border-box;
  }

body{
  font-family:Verdana; color:#aaaaaa; overflow: hidden;
}

.title-cont{
  overflow: hidden;
  padding:0px;
  text-align:center;
  border-bottom: 1px solid black;

  .left-title{float:left; width: 25%; color: green; font-size: large; padding-top: 0px;}
  #top-header{float:left; width: 70%; color: green; font-size: large; padding-top: 0px;}
}

.hide{} 



.h-center{text-align: center;} 
.content-wrapper{
  overflow: hidden; 
  border-bottom: 1px solid black;

    .menu {
      float:left;
      width: 25%;
      text-align: left;
      overflow: auto; 
      height: 800px;
      padding-left: 0px;
      border: 1px solid black;
      .header-link-cont{
        
        margin: 0px;
        padding: 0px;
        .link-parent{
          
          margin: 0px;
          a.head-link-a {
            text-decoration: none;
            display: block;
            width:100%;
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 10px;
            border: 1px solid black;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;

          }
          a.head-link-a:hover {
            background-color: #ccc;
          }
          a.head-link-a.active {
            background-color: #ccc;
          }
          a.head-link-a::after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }
          
          a.head-link-a.active::after {
            content: "\2212";
          }
        }
        .sub-links-cont{
          
          margin-left: 10px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          margin-top: 0px;
          margin-bottom: 0px;
          .sub-link:first-child{margin-top: 20px;}
          .sub-link{
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: black;
            margin-bottom: 10px;
            

            &:hover{color: darkorchid; text-decoration: underline;}
            &:active{color: coral; text-decoration: underline;}
            &:visited{color: coral; text-decoration: underline;}
          }
        }
      }
    }
    
    

    .main {
      float:left;
      width:75%;
      padding:0 20px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      color: black;
      overflow-y: auto;
      height: 800px;

      .section-cont{
        .show-link:hover{cursor: pointer;}
        .child.hide{display: block;}
        .section-header{
          border-top: 1px solid black; 
          border-bottom: 1px solid black; 
          padding-top: 20px; 
          padding-bottom: 20px;
          text-align: center;
        }
        .reading-sub-label{font-size: 14px; font-weight: bold;}
        .list{margin-top: 20px;}
        .no-bullets{list-style-type: none;}
        .li-title{margin-bottom: 20px; font-size: 18px; text-align: center;}
        .document-viewer{width: 100%; border: none; min-height: 600px;}
        .tasks i{float: right; margin-right: 30px;}
        .task-txt{font-size: 12px;}
        pre{
          border: 1px solid red; 
          margin-left: 0px;
          background-color: rgb(255, 247, 229);
          white-space: pre-line;
          padding-left: 5px;
        }
        .completed{text-decoration: line-through;}
        .code-cont{width: 100%;  padding: 0px; font-size: 12px;}
        .example-img{width: 20%;}

        .prop-table{
          border: 1px solid black; border-collapse: collapse;

            th{border: 1px solid black; padding: 10px; background-color: navy; color: white; white-space: nowrap;} 
            td{border: 1px solid black; padding: 10px; width: auto;}
        }
      }
      #proposal{margin-bottom: 20px;}
    }
  }

  

  @keyframes hide {
    0% {
      display: block;
      opacity: 1;
    }
    99% {
      display: block;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
   
   .red{color: red;}
   .green{color: green;}
   .clearfix{clear: both;}
   

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main {
      width:100%;
    }
    .menu{height: 15%;}
    .ht-300{height: 300px;}
    #main{width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; height: 50%;}
    
    .content-wrapper{height: auto;}
  }
 
  

  