* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana;
  color: #aaaaaa;
  overflow: hidden;
}

.title-cont {
  overflow: hidden;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid black;
}

.title-cont .left-title {
  float: left;
  width: 25%;
  color: green;
  font-size: large;
  padding-top: 0px;
}

.title-cont #top-header {
  float: left;
  width: 70%;
  color: green;
  font-size: large;
  padding-top: 0px;
}

.hide {
  display: none;
}

.h-center {
  text-align: center;
}

.content-wrapper {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.content-wrapper .menu {
  float: left;
  width: 20%;
  text-align: left;
  overflow: auto;
  height: 800px;
  padding-left: 10px;
}

.content-wrapper .menu .header-link-cont .link-parent a.head-link-a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
  font-size: 1em;
}

.content-wrapper .menu .header-link-cont .sub-links-cont {
  margin-left: 10px;
}

.content-wrapper .menu .header-link-cont .sub-links-cont .sub-link {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.content-wrapper .menu .header-link-cont .sub-links-cont .sub-link:hover {
  color: darkorchid;
  text-decoration: underline;
}

.content-wrapper .menu .header-link-cont .sub-links-cont .sub-link:active {
  color: coral;
  text-decoration: underline;
}

.content-wrapper .menu .header-link-cont .sub-links-cont .sub-link:visited {
  color: coral;
  text-decoration: underline;
}

.content-wrapper .main {
  float: left;
  width: 75%;
  padding: 0 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
  overflow-y: auto;
  height: 800px;
}

.content-wrapper .main .section-cont .show-link:hover {
  cursor: pointer;
}

.content-wrapper .main .section-cont .child.hide {
  display: block;
}

.content-wrapper .main .section-cont .section-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.content-wrapper .main .section-cont .reading-sub-label {
  font-size: 14px;
  font-weight: bold;
}

.content-wrapper .main .section-cont .list {
  margin-top: 20px;
}

.content-wrapper .main .section-cont .no-bullets {
  list-style-type: none;
}

.content-wrapper .main .section-cont .li-title {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.content-wrapper .main .section-cont .document-viewer {
  width: 100%;
  border: none;
  min-height: 600px;
}

.content-wrapper .main .section-cont .tasks i {
  float: right;
  margin-right: 30px;
}

.content-wrapper .main .section-cont .task-txt {
  font-size: 12px;
}

.content-wrapper .main .section-cont pre {
  border: 1px solid red;
  margin-left: 0px;
  background-color: #fff7e5;
  white-space: pre-line;
  padding-left: 5px;
}

.content-wrapper .main .section-cont .completed {
  text-decoration: line-through;
}

.content-wrapper .main .section-cont .code-cont {
  width: 100%;
  padding: 0px;
  font-size: 12px;
}

.content-wrapper .main .section-cont .example-img {
  width: 20%;
}

.content-wrapper .main .section-cont .prop-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.content-wrapper .main .section-cont .prop-table th {
  border: 1px solid black;
  padding: 10px;
  background-color: navy;
  color: white;
  white-space: nowrap;
}

.content-wrapper .main .section-cont .prop-table td {
  border: 1px solid black;
  padding: 10px;
  width: auto;
}

.content-wrapper .main #proposal {
  margin-bottom: 20px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main {
    width: 100%;
  }
  .menu {
    height: 15%;
  }
  .ht-300 {
    height: 300px;
  }
  #main {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50%;
  }
  .content-wrapper {
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */