* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana;
  color: #aaaaaa;
  overflow: hidden;
  background: #312450;
}

.title-cont {
  z-index: 500;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  width: 30em;
  height: 750px;
  background: #312450;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  position: absolute;
  float: left;
  margin-left: -30em;
  margin-right: 0px;
  margin-top: 0px;
}

.title-cont .icon {
  float: right;
  margin-right: -40px;
  margin-top: 20px;
}

.title-cont .icon div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.title-cont .icon:hover {
  /* background-color: black; */
  cursor: pointer;
}

.title-cont .icon:hover div:hover {
  color: white;
}

.title-cont .left-title {
  float: left;
  width: 60%;
  color: #5e42a6;
  margin-left: 10px;
  font-size: 1em;
  padding-top: 0px;
}

.title-cont .menu {
  width: 100%;
  text-align: left;
  overflow: auto;
  padding-left: 10px;
  float: left;
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
}

.title-cont .menu .header-link-cont {
  margin: 0px;
  padding: 0px;
  color: white;
}

.title-cont .menu .header-link-cont .link-parent:hover {
  color: white;
}

.title-cont .menu .header-link-cont .link-parent {
  color: white;
  margin-top: 3px;
  padding-bottom: 3px;
}

.title-cont .menu .header-link-cont .link-parent a.head-link-a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
  opacity: .5;
  cursor: pointer;
  padding-bottom: 0px;
  text-align: left;
  outline: none;
  font-size: .8em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.title-cont .menu .header-link-cont .link-parent a.head-link-a:hover {
  color: white;
  opacity: 1;
}

.title-cont .menu .header-link-cont .link-parent a.head-link-a.active {
  color: white;
  opacity: 1;
}

.title-cont .menu .header-link-cont .link-parent a.head-link-a::after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  margin-top: -5px;
  margin-left: 5px;
  font-size: 20px;
}

.title-cont .menu .header-link-cont .link-parent a.head-link-a.active::after {
  content: "\2212";
  color: white;
  font-size: 20px;
  margin-top: -5px;
}

.title-cont .menu .header-link-cont .sub-links-cont {
  margin-left: 10px;
  color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link:first-child {
  padding-top: 0px;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  font-size: .7em;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link:hover {
  color: darkorchid;
  text-decoration: underline;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link:active {
  color: coral;
  text-decoration: underline;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link:visited {
  color: coral;
  text-decoration: underline;
}

.title-cont .menu .header-link-cont .sub-links-cont .sub-link.sub-active {
  color: orchid;
  font-weight: bold;
}

.open {
  margin-left: 0px;
}

.open .icon {
  margin-right: 20px;
  margin-top: 20px;
}

.open .icon div {
  background-color: white;
}

.open .icon .top {
  top: 18;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
}

.open .icon .mid {
  opacity: 0;
  margin-left: -60px;
}

.open .icon .bottom {
  margin-top: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-links {
  padding: 5px;
  color: #5e42a6;
  font-size: 1em;
  font-weight: bold;
}

.h-center {
  text-align: center;
}

.content-wrapper {
  background-attachment: fixed;
  background-image: url("../images/lines.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #5e42a6;
  overflow: auto;
  border-bottom: 1px solid white;
  position: relative;
  margin-top: 0px;
  float: left;
  width: 100%;
  height: 750px;
  color: white;
}

.content-wrapper #top-header {
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  color: white;
  font-size: 1em;
  text-align: center;
  padding-top: 0px;
}

.content-wrapper .main {
  color: white;
  overflow: auto;
  height: 750px;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  padding: 10px;
}

.content-wrapper .main .section-cont a {
  color: white;
}

.content-wrapper .main .section-cont .show-link:hover {
  cursor: pointer;
}

.content-wrapper .main .section-cont .child.hide {
  display: block;
}

.content-wrapper .main .section-cont .section-header {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.content-wrapper .main .section-cont .reading-sub-label {
  font-size: 14px;
  font-weight: bold;
}

.content-wrapper .main .section-cont .list {
  margin-top: 20px;
}

.content-wrapper .main .section-cont .no-bullets {
  list-style-type: none;
}

.content-wrapper .main .section-cont .li-title {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.content-wrapper .main .section-cont .document-viewer {
  width: 100%;
  border: none;
  height: 700px;
}

.content-wrapper .main .section-cont .tasks i {
  float: right;
  margin-right: 30px;
}

.content-wrapper .main .section-cont .task-txt {
  font-size: 12px;
}

.content-wrapper .main .section-cont pre {
  border: 1px solid white;
  margin-left: 0px;
  background-color: #fff7e5;
  white-space: pre-line;
  padding-left: 5px;
  color: black;
}

.content-wrapper .main .section-cont .completed {
  text-decoration: line-through;
}

.content-wrapper .main .section-cont .code-cont {
  width: 100%;
  padding: 0px;
  font-size: 12px;
}

.content-wrapper .main .section-cont .example-img {
  width: 20%;
}

.content-wrapper .main .section-cont .exercise-cont {
  border: 1px solid red;
}

.content-wrapper .main .section-cont .prop-table {
  border: 1px solid white;
  border-collapse: collapse;
}

.content-wrapper .main .section-cont .prop-table th {
  border: 1px solid white;
  padding: 10px;
  background-color: white;
  color: white;
  white-space: nowrap;
}

.content-wrapper .main .section-cont .prop-table td {
  border: 1px solid white;
  padding: 10px;
  width: auto;
}

.content-wrapper .main #proposal {
  margin-bottom: 20px;
}

@-webkit-keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.clearfix {
  clear: both;
}

@media (min-width: 1200px) {
  .title-cont {
    margin-left: 0px;
    width: 25%;
    position: relative;
  }
  .title-cont .icon {
    display: none;
  }
  .content-wrapper {
    width: 75%;
  }
}
/*# sourceMappingURL=main.css.map */