body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time{
    position: absolute; 
    margin-left: 400px;
    list-style: none;
    width: 450px;
    border: 1px solid black;
    padding-left: 0px;
    li{
        text-align: left;
        padding: 5px;

        .li-title{color: green; float: left;}
        .li-val{color: blue; float: right;}
        .clearfix{clear: both;}
    }
}

input.red::placeholder{color: red; font-weight: bold;}
.red{color: red;}
.inline{display: inline-block;}
.green{color: green;}
.orange{color: orange;}
.hide{display: none;}


#app{
    width: 350px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    #head{
        border: 1px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 120px;
        border-bottom: none;
        h2{
            text-align: center;
        }
        .msg{
            text-align: center;
            margin-top: 0px;
            width: 100%;
            
            float: left;
        }
        
        .burn-down{
            float: right;
            margin-top: -70px;

        }
        .burn-up{
            float: right;
            margin-top: -70px;
        }
        .menu-icon{
            border: 1px solid black;
            width: 250px;
            height: 100%;
            background-color: black;
            position: absolute;
            left: -250px;
            top: 0;
            transition-delay: .6s;
            transition: .6s ease-in-out;
            .icon{
              float: right;
              margin-right: -40px;
              margin-top: 40px;
              div{
                width: 35px;
                height: 5px;
                background-color: silver;
                margin: 6px 0;
                transition: .6s ease-in-out;
              }
            }
            .icon:hover{
               /* background-color: black; */
                cursor: pointer;
              div:hover{
                color: black;
              }
            }
            
            .menu-links{
              list-style: none; 
              margin-top: 50px;
              position: absolute;
              li{
                color: gray; 
                margin-bottom: 20px;
                font-size: 25px;
              }
              li:hover{color: white; cursor: pointer;}
            }
          }
          .open{
            left: 0px;
            .icon{
              margin-right: 20px;
              margin-top: 20px;
              div{
                background-color: white;
              }
            
              .top{
              top: 18;
              transform: rotate(135deg);
              position: absolute;
              }
              .mid{
                opacity: 0;
                margin-left: -60px;
              }
              .bottom{
                margin-top: -10px;
                transform: rotate(-135deg);
              }
            }
          }
    }

    #main{
        border: 1px solid black;
        height: 470px;
        padding: 10px;
        //background-image: url(images/intro.svg);
    }

    #footer{
        border: 1px solid black;
        border-top: none;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 20px;

        .foot-icon{
            margin-top: 20px;
            margin-left: 13px;
            width: 50px;
            height: 50px;
        }
    }

    .input-frm{
        
        .controls{
            margin: 10px;
            margin-bottom: 20px;
            label{
                
            }
            .form-control{
                float: right;
                padding: 3px;
            }
            select.form-control{
                width: 180px;
                padding-left: 5px;
                padding-right: 5px;
            }
            input[type=date]{
                width: 150px;
                padding: 2px;
            }
        }
        .btn-group{
            margin-top: 30px;
            button{
                margin-right: 5px;
                margin-left: 5px;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
}