body {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time {
  position: absolute;
  margin-left: 400px;
  list-style: none;
  width: 450px;
  border: 1px solid black;
  padding-left: 0px;
}

.time li {
  text-align: left;
  padding: 5px;
}

.time li .li-title {
  color: green;
  float: left;
}

.time li .li-val {
  color: blue;
  float: right;
}

.time li .clearfix {
  clear: both;
}

input.red::-webkit-input-placeholder {
  color: red;
  font-weight: bold;
}

input.red:-ms-input-placeholder {
  color: red;
  font-weight: bold;
}

input.red::-ms-input-placeholder {
  color: red;
  font-weight: bold;
}

input.red::placeholder {
  color: red;
  font-weight: bold;
}

.red {
  color: red;
}

.inline {
  display: inline-block;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.hide {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

#app #head {
  height: 20%;
}

#app #head h2 {
  text-align: center;
}

#app #head .msg {
  text-align: center;
  margin-top: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  float: left;
}

#app #head .burn-cnt {
  float: right;
  margin-top: -85px;
  margin-right: 20px;
  width: 60px;
}

#app #head .slot-txt {
  margin-right: 5px;
}

#app #head .slot-txt:hover {
  cursor: pointer;
}

#app #head .slot-txt i {
  margin-left: 5px;
}

#app #head .nav-btn {
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
}

#app #head .nav-btn div {
  width: 35px;
  height: 5px;
  background-color: silver;
  margin: 6px 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

#app #head .nav-btn:hover {
  /* background-color: black; */
  cursor: pointer;
}

#app #head .nav-btn:hover div:hover {
  color: black;
}

#app #head .menu-icon {
  border: 1px solid black;
  width: 250px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: -250px;
  top: 0;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

#app #head .menu-icon .menu-links {
  list-style: none;
  margin-top: 50px;
  position: absolute;
}

#app #head .menu-icon .menu-links li {
  color: gray;
  margin-bottom: 20px;
  font-size: 25px;
}

#app #head .menu-icon .menu-links li:hover {
  color: white;
  cursor: pointer;
}

#app #head .menu-icon.open {
  left: 0px;
}

#app #head .nav-btn.open .top {
  top: 18;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
}

#app #head .nav-btn.open .mid {
  opacity: 0;
  margin-left: -60px;
}

#app #head .nav-btn.open .bottom {
  margin-top: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#app #main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 750px;
  max-height: 60%;
  padding: 0px;
}

#app #main .frame-full {
  width: 550px;
  height: 730px;
}

#app #main .body-types {
  width: 100%;
}

#app #main .body-types .type {
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

#app #main .body-types .type .body-image {
  width: 45%;
}

#app #footer {
  height: 20%;
  margin-bottom: 0px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#app #footer .foot-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
}

#app #footer .foot-icon:hover {
  cursor: pointer;
}

#app #footer .foot-icon.active i {
  color: green;
  font-weight: bold;
}

#app .input-frm {
  margin: 0 auto;
  padding-bottom: 10px;
}

#app .input-frm .controls {
  margin: 10px;
  margin-bottom: 20px;
}

#app .input-frm .controls .form-control {
  float: right;
  padding: 3px;
}

#app .input-frm .controls select.form-control {
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
}

#app .input-frm .controls input[type=date] {
  width: 150px;
  padding: 2px;
}

#app .input-frm .btn-group {
  margin-top: 30px;
}

#app .input-frm .btn-group button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 576px) {
  #app {
    width: 450px;
  }
  .input-frm {
    width: 400px;
  }
}

@media (min-width: 768px) {
  #app {
    width: 500px;
  }
  .input-frm {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .input-frm {
    width: 400px;
  }
  #app {
    width: 500px;
  }
}
/*# sourceMappingURL=app.css.map */