
.time{
    position: absolute; 
    margin-left: 400px;
    list-style: none;
    width: 450px;
    border: 1px solid black;
    padding-left: 0px;
    li{
        text-align: left;
        padding: 5px;

        .li-title{color: green; float: left;}
        .li-val{color: blue; float: right;}
        .clearfix{clear: both;}
    }
}

input.red::placeholder{color: red; font-weight: bold;}
.red{color: red;}
.inline{display: inline-block;}
.green{color: green;}
#app{
    width: 350px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    #head{
        border: 1px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 120px;
        border-bottom: none;
        h2{
            text-align: center;
        }
        .msg{
            text-align: center;
            margin-top: 0px;
            width: 100%;
            
            float: left;
        }
        
        .burn-down{
            float: left;
            margin-top: -70px;

        }
        .burn-up{
            float: right;
            margin-top: -70px;
        }
    }

    #main{
        border: 1px solid black;
        height: 470px;
        padding: 10px;
        //background-image: url(images/intro.svg);
    }

    #footer{
        border: 1px solid black;
        border-top: none;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 20px;
    }

    .input-frm{
        
        .controls{
            margin: 10px;
            margin-bottom: 20px;
            label{
                
            }
            .form-control{
                float: right;
                padding: 3px;
            }
            select.form-control{
                width: 180px;
                padding-left: 5px;
                padding-right: 5px;
            }
            input[type=date]{
                width: 150px;
                padding: 2px;
            }
        }
        .btn-group{
            margin-top: 30px;
            button{
                margin-right: 5px;
                margin-left: 5px;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
}