body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time{
    position: absolute; 
    margin-left: 400px;
    list-style: none;
    width: 450px;
    border: 1px solid black;
    padding-left: 0px;
    li{
        text-align: left;
        padding: 5px;

        .li-title{color: green; float: left;}
        .li-val{color: blue; float: right;}
        .clearfix{clear: both;}
    }
}

input.red::placeholder{color: red; font-weight: bold;}
.red{color: red;}
.inline{display: inline-block;}
.green{color: green;}
.orange{color: orange;}
.hide{display: none;}


#app{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    #head{
        height: 20%;
        
        h2{
            text-align: center;
        }
        .msg{
            text-align: center;
            margin-top: 0px;
            width: 100%;
            border-bottom: 1px solid black; 
            padding: 5px;
            float: left;
        }
        
        .burn-cnt{
            float: right;
            margin-top: -85px;
            margin-right: 20px;
            width: 60px;
        }
        
        .slot-txt{margin-right: 5px;}
        .slot-txt:hover{cursor: pointer;}
        .slot-txt i{margin-left: 5px;}
        .nav-btn{
            position: absolute;

            //float: right;
            margin-left: 20px;
            margin-top: 0px;
            div{
              width: 35px;
              height: 5px;
              background-color: silver;
              margin: 6px 0;
              transition: .6s ease-in-out;
            }
          }
          .nav-btn:hover{
             /* background-color: black; */
              cursor: pointer;
            div:hover{
              color: black;
            }
          }
        .menu-icon{
            border: 1px solid black;
            width: 250px;
            height: 100%;
            background-color: black;
            position: absolute;
            left: -250px;
            top: 0;
            transition-delay: .6s;
            transition: .6s ease-in-out;
           
            
            .menu-links{
              list-style: none; 
              margin-top: 50px;
              position: absolute;
              li{
                color: gray; 
                margin-bottom: 20px;
                font-size: 25px;
              }
              li:hover{color: white; cursor: pointer;}
            }
          }

          .menu-icon.open{
            left: 0px;
          }
          .nav-btn.open{
            
            div{
              
            }
            .top{
            top: 18;
            transform: rotate(135deg);
            position: absolute;
            }
            .mid{
              opacity: 0;
              margin-left: -60px;
            }
            .bottom{
              margin-top: -10px;
              transform: rotate(-135deg);
            }
          }
          
    }

    #main{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        min-height: 750px;
        max-height: 60%;
        padding: 0px;
        
        .frame-full{
            width: 550px;
            height: 730px;
        }

        .body-types{
            width: 100%;
            .type{

                margin-top: 10px;
                margin: 0 auto;
                
                text-align: center;
                .body-image{width: 45%; }
            }
            
        }
        
        
        //background-image: url(images/intro.svg);
    }

    #footer{
        height: 20%;
        margin-bottom: 0px;
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        .foot-icon{
            flex:  1;
            margin-top: 0px;
            margin-left: 20px;
            width: 50px;
            height: 50px;
            background-color: white;
            &:hover{
                cursor: pointer;
            }
        }
        .foot-icon.active i{
            color: green; 
            font-weight: bold;
        }
    }

    .input-frm{
        margin: 0 auto;
        padding-bottom: 10px;
        .controls{
            margin: 10px;
            margin-bottom: 20px;
            label{
                
            }
            .form-control{
                float: right;
                padding: 3px;
            }
            select.form-control{
                width: 180px;
                padding-left: 5px;
                padding-right: 5px;
            }
            input[type=date]{
                width: 150px;
                padding: 2px;
            }
        }
        .btn-group{
            margin-top: 30px;
            button{
                margin-right: 5px;
                margin-left: 5px;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
}

// Best Practice suggests
   // keep default style for smallest screen size (portrait mobile, below 576px)
   // and then proceed in assending order with media query like below
   
   // Small devices (landscape phones, 576px and above till next break point)
@media (min-width: 576px) {  
    #app{width: 450px;}
    .input-frm{
        width: 400px;
    }
}

// Medium devices (tablets, 768px and above till next break point)
@media (min-width: 768px) {  
    #app{width: 500px;}
    .input-frm{
        width: 400px;
    }
}

// Large devices (desktops, 992px and above till next break point)
@media (min-width: 1200px) {  
    .input-frm{
        width: 400px;
    }
   #app{width: 500px;}
   
    
}