

#app{
    width: 350px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;

    #head{
        border: 1px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100px;
        border-bottom: none;
        h2{
            text-align: center;
        }
        .msg{
            text-align: center;
            color: red;
        }
    }

    #main{
        border: 1px solid black;
        height: 450px;
        padding: 10px;
    }

    #footer{
        border: 1px solid black;
        border-top: none;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 20px;
    }

    .input-frm{
        
        .controls{
            margin: 10px;
            label{
                
            }
            .form-control{
                float: right;
                padding: 3px;
            }
            select.form-control{
                width: 180px;
            }
        }
    }
}