html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.hide{display: none;}

.clicked{
  width: 10rem; 
  height: 2rem; 
  border: .4rem solid black;
  border-radius: .5rem;
  margin-top: -50px;
  position: absolute;
  margin-left: -55px;
  background: rgba(0,0,0,0.4);
  text-shadow: none;
}

.green{text-shadow: 0 0 1px green, 
  0 0 1px green, 0 0 1px green, 0 0 1px green;}
.blue{text-shadow: 0 0 1px blue, 
  0 0 1px blue, 0 0 1px blue, 0 0 1px blue}
.orange{text-shadow: 0 0 1px orange, 
  0 0 1px orange, 0 0 1px orange, 0 0 1px orange}
.red{text-shadow: 0 0 1px red, 
  0 0 1px red, 0 0 1px red, 0 0 1px red}


.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}



.move_10{
  transform: translateY(10px);
}

.move_20{
  transform: translateY(20px);
}
.move_30{
  transform: translateY(30px);
}

.move_40{
  transform: translateY(40px);
}
.move_50{
  transform: translateY(50px);
}

.move_60{
  transform: translateY(60px);
}
.move_70{
  transform: translateY(70px);
}

.move_80{
  transform: translateY(80px);
}
.move_90{
  transform: translateY(90px);
}

.move_100{
  transform: translateY(100px);
}

