html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-icon{
  border: 1px solid black;
  width: 350px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: -350px;
  top: 0;
  transition-delay: .6s;
  transition: .6s ease-in-out;
  .icon{
    float: right;
    margin-right: -40px;
    margin-top: 5px;
    div{
      width: 35px;
      height: 5px;
      background-color: silver;
      margin: 6px 0;
      transition: .6s ease-in-out;
    }
  }
  .icon:hover{
     /* background-color: black; */
      cursor: pointer;
    div:hover{
      color: black;
    }
  }
  
  .menu-links{
    list-style: none; 
    margin-top: 50px;
    position: absolute;
    li{
      color: gray; 
      margin-bottom: 20px;
      font-size: 25px;
    }
    li:hover{color: white; cursor: pointer;}
  }
}
.open{
  left: 0px;
  .icon{
    margin-right: 20px;
    margin-top: 20px;
    div{
      background-color: white;
    }
  
    .top{
    top: 18;
    transform: rotate(135deg);
    position: absolute;
    }
    .mid{
      opacity: 0;
      margin-left: -60px;
    }
    .bottom{
      margin-top: -10px;
      transform: rotate(-135deg);
    }
  }
}

